@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.news-announcement {
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  border: 1px solid #e5edff;
  border-radius: 8px;
  max-width: 400px;
}

.news-announcement-tab {
  border-bottom: 2px solid #e5edff;
  margin-bottom: 4px;
}

.news-announcement-year {
  margin-right: 1rem;
  border-bottom: 2px solid #ffff;
  font-weight: 600;
  cursor: pointer;
}

.news-announcement-item-title {
  padding-right: 1rem;
  width: 75%;
}

.news-announcement-item-date {
  width: 25%;
}

.news-announcement-item {
  border-bottom: 1px solid #e5edff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  font-weight: 300;
}

.news-announcement-year:hover {
  color: #9F0E0F;
  border-bottom: 2px solid #9F0E0F;
}

.news-announcement-header {
  border-bottom: 3px solid #e5edff;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.news-announcement-header-title {
  padding-right: 1rem;
  width: 75%;
}

.news-announcement-header-date {
  width: 25%;
}

.xml-feeder-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e5edff;
  font-weight: 500;
}

.br-bottom {
  border-bottom: 1px solid #e5edff;
}


.column {
  font-family: 'Poppins', sans-serif;
}

.xml-feeder {
  padding: 1rem;
  border: 1px solid #e5edff;
  border-radius: 8px;
}

.xml-feeder-title {
  font-size: medium;
  font-weight: 600;
}

.xml-feeder-price {
  font-size: xx-large;
}

.xml-feeder-footer {
  justify-content: flex-end;
  font-size: small;
}

.xml-feeder {
  max-width: 300px;
}

.chart-price{
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #e5edff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

.chart-price-tab-item:hover {
  color: #9F0E0F;
  border-bottom: 2px solid #9F0E0F;
}

.chart-price-tab-item{
  margin-right: 1rem;
  border-bottom: 2px solid #ffff;
  font-weight: 600;
  cursor: pointer;
}

.chart-price-tab-filter{
  border-bottom: 2px solid #e5edff;
  margin-bottom: 4px;
}